
header{
    font-size: 1em;
    padding: 5px;
    text-align: center;
    background-color: rgb(52, 56, 54);
    height: 60px;
    color: white;
    align-items: center;
    align-content: center;

    
}
.logo{
    width: 200px;
}

a {
    color: aliceblue;
}

a:hover{
    color: aqua;
}

.navbar{

    background-color: rgba(100,100,100, 0.5)
}
 




.container-topo {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #563D7C;
    align-content: center;
    align-items: center ;
    


}
.container-topo h1{
    padding: 10px;
    font-family: 'Russo One', sans-serif;
    
}



.text{
    background-color: rgba(248, 248, 248, 0.808);
    margin: 1z0px 5px;   
    text-align: justify;
    font-family: 'Exo' 700, sans-serif;
    font-weight: 500;
    padding: 40px;

}


.text a{
    color: #F0494F;
    font-weight: 700;

}

.cod{
    background-color: rgba(248, 248, 248, 0.808);
    margin: 10px 5px;
    text-align: justify;
    font-family: 'Exo' 700, sans-serif;
    font-weight: 500;
    padding: 20px;

}

.cod a{
    color: #F0494F;
    font-weight: 700;

}

footer{
    position: sticky;
    font-size: 1em;
    padding: 10px;
    text-align: center;
    background-color: rgb(52, 56, 54);
    color: white;
    align-items: center;
    align-content: center;
    /* height: 60px;  */
    width:100%; 
    bottom:0; 
    left:0; 

}

